	html,body {margin: 0px;
			background-color:lightgray;
			color:white;
			font-size:160%;}
	div {margin: 0px;}
	.redPit, .bluePit {height: 90px; width: 90px;
			border-radius: 100%; border-style:solid;
			text-align:center; line-height:95px;}

	#redMancala {position: fixed; top: 50px; left: 55px;
			height: 190px; width: 85px;
			border-radius: 100%; border-style:solid;
			text-align:center; line-height:190px;}
	.redPit, #redMancala			{background-color: pink;}
	#redPit6 {position: fixed; top: 50px; left: 150px;}
	#redPit5 {position: fixed; top: 50px; left: 250px;}
	#redPit4 {position: fixed; top: 50px; left: 350px;}
	#redPit3 {position: fixed; top: 50px; left: 450px;}
	#redPit2 {position: fixed; top: 50px; left: 550px;}
	#redPit1 {position: fixed; top: 50px; left: 650px;}

	#blueMancala {position: fixed; top: 50px; left: 755px;
			height: 190px; width: 85px;
			border-radius: 100%; border-style:solid;
			text-align:center; line-height:190px;}
	.bluePit, #blueMancala 	{background-color: lightblue;}
	#bluePit1 {position: fixed; top: 150px; left: 150px;}
	#bluePit2 {position: fixed; top: 150px; left: 250px;}
	#bluePit3 {position: fixed; top: 150px; left: 350px;}
	#bluePit4 {position: fixed; top: 150px; left: 450px;}
	#bluePit5 {position: fixed; top: 150px; left: 550px;}
	#bluePit6 {position: fixed; top: 150px; left: 650px;}

	#turnMarker {position: fixed; top: 250px; left: 355px;
			height: 50px; width: 200px;
			text-align:center;}
	#notifications {position: fixed; top: 250px; left: 90px;
			height: 50px; width: 200px;
			text-align:center;
			line-height:50px;
			color:black;}
	#noteArea2 {position: fixed; top: 250px; left: 5px;
			height: 50px; width: 200px;
			text-align:center;
			line-height:50px;
			color:black;}
	#noteArea3 {position: fixed; top: 250px; left: 485px;
			height: 50px; width: 200px;
			text-align:center;
			line-height:50px;
			color:black;}
	#scenario {position: fixed; top: 5px; left: 5px;
			height: 50px; width: 600px;
			text-align:center;}